body,
html {
    margin: 0;
    padding: 0;

    width: inherit;
    background-color: #212121;
    color: white;
}


div.fleche {
    margin-left: 5vw;
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: "CustomFont";
     src: url("font/Oswald/Oswald-VariableFont_wght.woff") format("woff");

}

#Outils img {
     border-radius: 30px;

    min-height: 20px;
    max-height: 60px;
}

h1, h2, li, h3 {
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

header {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  


}

header img {
    border: none;
    background-color: black;

    border-radius: 30px;
    background-color: #212121;
    min-height: 20px;
    max-height: 60px;
}

div.Title img{
    height: auto;
    width: auto;
    border: none;
}

div.Title {
       display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

.tout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}


div.year {
       border: #DEC79B solid 2px;
    min-width: 90vw;
    display: flex;
    justify-content: space-between;
}

div.title {
    position: relative;
    left: 1vw
}


div.value {
    left: 90vh;
    margin-right: 5vh;
}

.Presentation {
       display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}


#Outils , #CahierCharges , #Livrable {
     border: #DEC79B solid 2px;
    display: flex;
    padding: 5vh;
    margin : 5vh
}

div.boom {
    display: flex;
}




